.footer {    
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    background-color: rgb(26, 24, 24);
    color: antiquewhite;
    text-align: center;
}

.required-star {
    color: red;
}

p {
    color: red;
}

.photo {
    width: 50;
}